@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";
.input-field {
  @apply border border-gray-300 px-4 py-2 rounded-lg focus:ring-2 focus:ring-blue-500 outline-none transition;
}

